<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjk.bysj.dao.VacationMapper" >
  <resultMap id="BaseResultMap" type="com.qjk.bysj.pojo.po.Vacation" >
    <id column="vid" property="vid" jdbcType="BIGINT" />
    <result column="sid" property="sid" jdbcType="BIGINT" />
    <result column="begin" property="begin" jdbcType="TIMESTAMP" />
    <result column="end" property="end" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="approver" property="approver" jdbcType="VARCHAR" />
    <result column="agree" property="agree" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vid, sid, begin, end, reason, approver, agree, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qjk.bysj.pojo.po.VacationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vacation
    where vid = #{vid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vacation
    where vid = #{vid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qjk.bysj.pojo.po.VacationExample" >
    delete from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qjk.bysj.pojo.po.Vacation" >
    insert into vacation (vid, sid, begin, 
      end, reason, approver, 
      agree, status)
    values (#{vid,jdbcType=BIGINT}, #{sid,jdbcType=BIGINT}, #{begin,jdbcType=TIMESTAMP}, 
      #{end,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{approver,jdbcType=VARCHAR}, 
      #{agree,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qjk.bysj.pojo.po.Vacation" >
    insert into vacation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        vid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="begin != null" >
        begin,
      </if>
      <if test="end != null" >
        end,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="agree != null" >
        agree,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=BIGINT},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="begin != null" >
        #{begin,jdbcType=TIMESTAMP},
      </if>
      <if test="end != null" >
        #{end,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="agree != null" >
        #{agree,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qjk.bysj.pojo.po.VacationExample" resultType="java.lang.Integer" >
    select count(*) from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vacation
    <set >
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=BIGINT},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=BIGINT},
      </if>
      <if test="record.begin != null" >
        begin = #{record.begin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end != null" >
        end = #{record.end,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.approver != null" >
        approver = #{record.approver,jdbcType=VARCHAR},
      </if>
      <if test="record.agree != null" >
        agree = #{record.agree,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vacation
    set vid = #{record.vid,jdbcType=BIGINT},
      sid = #{record.sid,jdbcType=BIGINT},
      begin = #{record.begin,jdbcType=TIMESTAMP},
      end = #{record.end,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      approver = #{record.approver,jdbcType=VARCHAR},
      agree = #{record.agree,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qjk.bysj.pojo.po.Vacation" >
    update vacation
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=BIGINT},
      </if>
      <if test="begin != null" >
        begin = #{begin,jdbcType=TIMESTAMP},
      </if>
      <if test="end != null" >
        end = #{end,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="agree != null" >
        agree = #{agree,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where vid = #{vid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qjk.bysj.pojo.po.Vacation" >
    update vacation
    set sid = #{sid,jdbcType=BIGINT},
      begin = #{begin,jdbcType=TIMESTAMP},
      end = #{end,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      agree = #{agree,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where vid = #{vid,jdbcType=BIGINT}
  </update>
</mapper>